<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean class="in.sp.beans.Address" id="addr1">
<constructor-arg value="100"/>
<constructor-arg value="delhi"/>
<constructor-arg value="123456"/>
</bean>
<bean class="in.sp.beans.Address" id="addr2" autowire-candidate="false">
<constructor-arg value="600"/>
<constructor-arg value="dili"/>
<constructor-arg value="123996"/>
</bean>

<bean class="in.sp.beans.Student" id="stdId" autowire="constructor">
<constructor-arg value ="deepesh" index="0"/>
<constructor-arg value ="12" index="1"/>
</bean>

</beans>
